section.expert 
    .container 
        .expert__main 
            .expert__content
                h2.title--section Meet Our Experts
                p.expert__desc Problems trying to resolve the conflict between the two major realms of Classical physics: Newtonian mechanics 
                a.expert__more(href="#") Learn More  
            .expert__image 
                img(src="./assets/images/expert-bg.png", alt="", srcset="")