header.header
    .container 
        .header__main 
            .header__item
                .header__logo MedicalRecov
                .header__menu  
                    li.header__list 
                        a.header__link(href="#!") Home
                    li.header__list 
                        a.header__link(href="#!") Product
                    li.header__list 
                        a.header__link(href="#!") Pricing
                    li.header__list 
                        a.header__link(href="#!") Contact
            .header__auth
                .header__login Login 
                .header__btn JOIN US
