section.hero 
    .container 
        .hero__main 
            .hero__content 
                h4.hero__heading Join Us
                h3.hero__title A Great Place to Receive Care
                p.hero__desc Medical Recover is most focused in helping you discover your most beauiful smile
                .hero__btn 
                    .hero__btn__btn__primary Get Quote Now
                    .hero__btn__btn__primary.hero__btn__btn__secondary Learn More
            .hero__image 
                img(src="https://images.unsplash.com/photo-1507413245164-6160d8298b31?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8OXx8bWVkaWNhbHxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60", alt="", srcset="")
        .hero__list 
            +heroItem("./assets/images/hero-1.svg", "Online Appoinment", "The gradual accumulation of information about atomic and small-scale behaviour..." )
            +heroItem("./assets/images/hero-2.svg", "Emergency Case", "The gradual accumulation of information about atomic and small-scale behaviour..." )                                                                 
            +heroItem("./assets/images/hero-3.svg", "Cancer Care", "The gradual accumulation of information about atomic and small-scale behaviour..." )                                                                                                                                  

            
