section.lead
    .container
        .section__heading__item 
            h6.section--heading Practice Advice
            h2.title--section.our__title--line Leading Medicine
            p.expert__desc.our__desc Problems trying to resolve the conflict between <br> the two major realms of Classical physics: Newtonian mechanics 
        .lead__list
            +leadItem("./assets/images/stars.svg", "Slate helps you see how many more days you need to work to reach your financial goal for the month and year.",
            "./assets/images/avartar-1.png", "Regina Miles", "Designer")
            +leadItem("./assets/images/stars.svg", "Slate helps you see how many more days you need to work to reach your financial goal for the month and year.",
            "./assets/images/avartar-1.png", "Regina Miles", "Designer")
            +leadItem("./assets/images/stars.svg", "Slate helps you see how many more days you need to work to reach your financial goal for the month and year.",
            "./assets/images/avartar-1.png", "Regina Miles", "Designer")