section.newsletter
    .container  
        .section__heading__item.newsletter__center 
            h6.section--heading Newsletter
            h2.title--section.our__title--line JOIN US
            p.expert__desc.our__desc.newsletter__center--text Problems trying to resolve the conflict between the two major realms of Classical physics: Newtonian mechanics 
        .newsletter__form
            .newsletter__sub
                input(type='text' placeholder='Your Email')
                .newsletter__btn 
                    button.newsletter__btn__btn Subscribe