section.our 
    .container 
        .section__heading__item 
            h6.section--heading Practice Advice
            h2.title--section.our__title--line Meet Our Experts
            p.expert__desc.our__desc Problems trying to resolve the conflict between <br> the two major realms of Classical physics: Newtonian mechanics 
        .our__list 
            +ourItem("./assets/images/our-1.png", "Painless procedures", "./assets/images/star.svg", "Quick examination", "We focus on ergonomics and meeting you where you work. It's only a keystroke away.", 
            "./assets/images/down.svg", "15 Sales", "$16.48", "$6.48", "Learn More")
            +ourItem("./assets/images/our-2.png", "Cancer Care", "./assets/images/star.svg", "Online Appoinment", "We focus on ergonomics and meeting you where you work. It's only a keystroke away.", 
            "./assets/images/down.svg", "15 Sales", "$16.48", "$6.48", "Learn More")
            +ourItem("./assets/images/our-3.png", "Best dental surgeons", "./assets/images/star.svg", "Emergency Case", "We focus on ergonomics and meeting you where you work. It's only a keystroke away.", 
            "./assets/images/down.svg", "15 Sales", "$16.48", "$6.48", "Learn More")


