section.stat
    .container 
        .stat__list 
            +statItem("15K","Happy Customers")
            +statItem("150K","Happy Customers")
            +statItem("15","Countries  Worldwide")
            +statItem("100+","Top Partners")