$font: "Montserrat", sans-serif;
$grey: #737373;
$primary-color: #ff685b;
$text-color: #252b42;
$fade-secondary: #e5f9f7;
$background: #fafafa;
$faded-secondary-bg: #e5f9f7;
$muted-color: #bdbdbd;
$secondary-color-1: #5aaca8;
